*{
    font-family:Microsoft JhengHei;
    box-sizing: border-box;
  }

  /**body**/
  
.bodyContainer{
  max-width:1349px;
  margin:0 auto;
}

/**header**/
.header{
  margin:0 20px;
  text-align:center;
  border-bottom:1px solid #f2f3f7
}
.headerLogo{
  display:inline-block;
  padding:10px 160px 10px 0px;
  border-right:1px solid #f2f3f7;
}
.logoPicture{
  width:53%;
}
.headerNav{
  display:inline-block;
}
.headerNavGroup{
  display:inline-block;
}
.headerNavItem{
  display:inline-block;
  text-align:center;
  padding:13px 40px;
  border-right:1px solid #f2f3f7;
  border-bottom:1px solid #f2f3f7
}
.itemText{
  font-size:18px;
}
.itemOne{
  color:#FFAB00;
  font-weight:bold;
}
.itemTwo{
  color:#F48FB1;
  font-weight:bold;
}
.itemThree{
  color:#80DEEA;
  font-weight:bold;
}
.itemFour{
  color:#B39DDB;
  font-weight:bold;
}
.itemTest{
  color:#F8BBD0;
  font-weight:bold;
}
.itemHomeText{
  font-size:15px;
  color:#757575;
}
#menu-button{
  display:none;
}


/**main**/
.RWDcenterLogo{
  display:none;
}
.lineIcon{
  display:inline-block;
  position:absolute;
  top:13%;
  right:16%;
  color:#64DD17;
  font-size:45px;
}
.main{
  position:relative;
}
.centerLogo{
  display:inline-block;
  position:fixed;
  left:41.3%;
  top:18%;
  z-index:2;
}
.centerphoto{
  width:320px;
  height:320px;
}
.centerContainer{
  z-index:3;
  display:inline-block;
  position:absolute;
  top:36%;
  left:20.5%;
  text-align:center;
  font-family:Microsoft JhengHei;
}
.centerTitle{
  color:#BDBDBD;
  font-size:20px;
  font-weight:900;
  margin-bottom:20px;
  letter-spacing:2px;
}
.centerText{
  font-size:23px;
  font-weight:900;
  margin-bottom:40px;
}
.centerTextPartOne{
  font-size:1px;
}
.icon{
  font-size:35px;
}
.lineIcon{
  position:fixed;
  top:12%;
  left:95%;

}
.mainFirst{
  background:url(../images/1.jpg) no-repeat;
  height:30vh;
  width:50%;
  background-size:cover;
  background-position:center;
  float:left;
  align-items:center;
  justify-content:center;
  margin-right:-4px;
}
.mainTextOneTitle{
  background-color:#FBC02D;
}
.mainSecond{
  background:url(../images/2.jpg) no-repeat;
  height:30vh;
  width:50%;
  background-size:cover;
  background-position:center;
  float:left;
  align-items:center;
  justify-content:center;
}
.mainTextSecondTitle{
  background-color:#EF9A9A;
}
.mainThird{
  background:url(../images/3.jpg) no-repeat;
  height:30vh;
  width:50%;
  background-size:cover;
  background-position:center;
  float:left;
  align-items:center;
  justify-content:center;
  margin-right:-4px;
}
.mainTextThirdTitle{
  background-color:#90CAF9;
}
.mainFourth{
  background:url(../images/4.jpg) no-repeat;
  height:30vh;
  width:50%;;
  background-size:cover;
  background-position:center;
  float:left;
  align-items:center;
  justify-content:center;
}
.mainTextFourthTitle{
  background-color:#D1C4E9;
}


.mainFirstContainer,.mainSecondContainer,.mainThirdContainer,.mainFourthContainer{
  text-align:center;
  position:relative;
  top:37%;
}
.mainTextStyle{
  display:inline-block;
  font-size:18px;
  font-weight:900;
  color:#f2f3f7;
  text-align:center;
  font-family:'Noto Sans TC', sans-serif;
  padding:10px 20px;
  margin-bottom:15px;
  border-radius:50px;
  font-family:Microsoft JhengHei;
}
.mainTextContent{
  font-size:25px;
  font-weight:900;
  color:#f2f3f7;
  font-family:Microsoft JhengHei;
}

.footer{
  width:90%;
  margin:0 auto;
  padding:5px 50px;
}
.footerTitle{
  color:#757575;
  font-size:20px;
  font-weight:700;
  margin-bottom:5px;
  padding-top:30px;
}
.footerText{
  font-size:15px;
  color:#757575;
}
.footerTextColor{
  color:#E53935;
}

/**iphone**/
@media (max-width:1025px){
  .lineIcon{
    display:inline-block;
    position:fixed;
    top:20%;
    right:3%;
    color:#64DD17;
    font-size:45px;
  }
  .headerNavItem {
    padding:5px 20px;
  }
  .centerLogo{
    display:inline-block;
    position:fixed;
    left:33.9%;
    top:18%;
    z-index:2;
  }
}
@media (max-width:521px){
  .RWDcenterLogo{
    display:inline-block;
    background-color:#FFE082;
    height:20vh;
    width:100%;
    z-index:0 ;
  }
  .RWDcenterLogoContent{
    position:absolute;
    top:-20%;
    left:-3%;
    height:500px;
    width:500px;
    z-index:1; 
  }
  .centerContainer{
    position:absolute;
    top:43%;
    left:32%;
  }
  .centerTitle{
    font-size:20px;
  }
  .centerText{
    font-size:20px;
    margin-bottom:10px;
  }
  .centerTextPartOne{
    font-size:10px;
  }
  .icon{
    font-size:40px;
  }
  .lineIcon{
    font-size:60px;
    position:fixed;
    top:29%;
    left:85%;
    z-index:4;
  }
  .centerLogo{
    display:none;
  }
  .header{
    text-align:left;
  }
  .headerLogo{
    display:inline-block;
    padding:10px 0px 10px 0px;
    border-right:0px solid #f2f3f7;
  }
  .headerNav{
    display:none;
  }
  .RWDheaderNav{
    display:inline-block;
  }
  .headerNavGroup{
    display:inline-block;
  }
  .headerNavItem{
    display:block;
    text-align:left;
    padding:20px 20px;
    border-right:0px solid #f2f3f7;
    border-bottom:1px solid #f2f3f7
  }
  .itemSize{
    font-size:35px;
    margin-right:33px;
  }
  .itemTest{
    font-size:21px;
    margin-right:28px;
  }
  .itemText{
    font-size:25px;
  }
  .tag{
    font-size:25px;
    margin-left:230px;
  }
  .menuContainer{
    display:inline-block;
    position:absolute;
    top:1.5%;
    left:87%;
  }
  
  #menu-button{
    display:inline-block;
    width:35px;
    height:33px;
    position:relative;
    z-index:5;
  }
  .menuButton{
    text-decoration:none;
  }
  .menuButton:hover{
    background-color:white;
  }
  .mainFirst{
    background:url(../images/1.jpg) no-repeat;
    height:19vh;
    width:100%;
    background-size:cover;
    background-position:center;
    float:left;
    align-items:center;
    justify-content:center;
    margin-right:-4px;
    position:relative;
    z-index:2;
  }
  .mainSecond{
    background:url(../images/2.jpg) no-repeat;
    height:19vh;
    width:100%;
    background-size:cover;
    background-position:center;
    float:left;
    align-items:center;
    justify-content:center;
    position:relative;
    z-index:2;
  }
  .mainTextSecondTitle{
    background-color:#EF9A9A;
  }
  .mainThird{
    background:url(../images/3.jpg) no-repeat;
    height:19vh;
    width:100%;
    background-size:cover;
    background-position:center;
    float:left;
    align-items:center;
    justify-content:center;
    margin-right:-4px;
    z-index:2;
  }
  .mainTextThirdTitle{
    background-color:#90CAF9;
  }
  .mainFourth{
    background:url(../images/4.jpg) no-repeat;
    height:19vh;
    width:100%;
    background-size:cover;
    background-position:center;
    float:left;
    align-items:center;
    justify-content:center;
    z-index:2;
  }
  .footer{
    clear:both;
    width:100%;
    padding:20px 20px;
  }
  .footerTitle{
    font-size:25px;
  }
  .footerText{
    font-size:10px;
  }
}

