*{
    font-family:Microsoft JhengHei;
    box-sizing: border-box;
  }

  /**body**/
  
.bodyContainer{
  max-width:1349px;
  margin:0 auto;
}

/**header**/
.header{
  margin:0 20px;
  text-align:center;
  border-bottom:1px solid #f2f3f7
}
.headerLogo{
  display:inline-block;
  padding:10px 160px 10px 0px;
  border-right:1px solid #f2f3f7;
}
.logoPicture{
  width:53%;
}
.headerNav{
  display:inline-block;
}
.headerNavGroup{
  display:-webkit-inline-box;
}
.headerNavItem{
  text-align:center;
  padding:13px 40px;
  border-right:1px solid #f2f3f7;
  border-bottom:1px solid #f2f3f7
}
.itemText{
  font-size:18px;
}
.itemOne{
  color:#FFAB00;
  font-weight:bold;
}
.itemTwo{
  color:#F48FB1;
  font-weight:bold;
}
.itemThree{
  color:#80DEEA;
  font-weight:bold;
}
.itemFour{
  color:#B39DDB;
  font-weight:bold;
}
.itemTest{
  color:#F8BBD0;
  font-weight:bold;
}
.itemHomeText{
  font-size:15px;
  color:#757575;
}


/**main**/
.lineIcon{
  display:inline-block;
  position:fixed;
  top:13%;
  right:16%;
  color:#64DD17;
  font-size:45px;
}
.main{
  position:relative;
}
.centerLogo{
  display:inline-block;
  position:absolute;
  left:38%;
  top:20%;
  z-index:2;
}
.centerphoto{
  width:320px;
  height:320px;
}
.centerContainer{
  z-index:3;
  display:inline-block;
  position:absolute;
  top:36%;
  left:20.5%;
  text-align:center;
  font-family:Microsoft JhengHei;
}
.centerTitle{
  color:#BDBDBD;
  font-size:20px;
  font-weight:900;
  margin-bottom:20px;
  letter-spacing:2px;
}
.centerText{
  font-size:23px;
  font-weight:900;
  margin-bottom:40px;
}
.centerTextPartOne{
  font-size:1px;
}
.icon{
  font-size:35px;
}
.mainFirst{
  background:url(../images/1.jpg) no-repeat;
  height:30vh;
  width:35vw;
  background-size:cover;
  background-position:center;
  display:inline-flex;
  align-items:center;
  justify-content:center;
  margin-right:-4px;
}
.mainTextOneTitle{
  background-color:#FBC02D;
}
.mainSecond{
  background:url(../images/2.jpg) no-repeat;
  height:30vh;
  width:35vw;
  background-size:cover;
  background-position:center;
  display:inline-flex;
  align-items:center;
  justify-content:center;
}
.mainTextSecondTitle{
  background-color:#EF9A9A;
}
.mainThird{
  background:url(../images/3.jpg) no-repeat;
  height:30vh;
  width:35vw;
  background-size:cover;
  background-position:center;
  display:inline-flex;
  align-items:center;
  justify-content:center;
  margin-right:-4px;
}
.mainTextThirdTitle{
  background-color:#90CAF9;
}
.mainFourth{
  background:url(../images/4.jpg) no-repeat;
  height:30vh;
  width:35vw;
  background-size:cover;
  background-position:center;
  display:inline-flex;
  align-items:center;
  justify-content:center;
}
.mainTextFourthTitle{
  background-color:#D1C4E9;
}


.mainFirstContainer,.mainSecondContainer,.mainThirdContainer,.mainFourthContainer{
  text-align:center;
}
.mainTextStyle{
  display:inline-block;
  font-size:18px;
  font-weight:900;
  color:#f2f3f7;
  text-align:center;
  font-family:'Noto Sans TC', sans-serif;
  padding:10px 20px;
  margin-bottom:15px;
  border-radius:50px;
  font-family:Microsoft JhengHei;
}
.mainTextContent{
  font-size:25px;
  font-weight:900;
  color:#f2f3f7;
  font-family:Microsoft JhengHei;
}

.footer{
  width:95%;
  margin:20px auto;
}
.footerTitle{
  color:#757575;
  font-size:20px;
  font-weight:700;
  margin-bottom:5px;
}
.footerText{
  font-size:15px;
  color:#757575;
}
.footerTextColor{
  color:#E53935;
}

/**iphone**/
@media (max-width:321px){
  .bodyContainer{
    width:321px;
  }
  .mainFirst,.mainSecond,.mainThird,.mainFourth{
    width:100vw;
  }
}

